certifi==2026.1.4
comtypes==1.4.15
customtkinter==5.2.2
keyboard==0.13.5
nvidia-ml-py>=12.0.0
pillow==12.1.0
psutil==7.2.1
pyadl>=0.1
pycaw==20251023
pystray==0.19.5
pythonnet>=3.0.0
HardwareMonitor>=1.1.0
pywin32==311
pywin32-ctypes==0.2.3
requests==2.32.5
watchdog==6.0.0
win11toast==0.36.3
WMI>=1.5.1
